
.order1 .order_main1 form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.order1 .order_main1 form .input p{
    line-height: 25px;
}

.order1 .order_main1 form .input{
    margin: 5px;
}

.order1 .order_main1 form .input1 input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.order1 .order_main1 form .input1 input:focus{
    border: 2px solid #9BA747;
}

.order1 .order_main1 form .order_btn1{
    padding: 10px 0;
    background: #9BA747;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}